@font-face {
  font-family: Aeonik Trial;
  src: url("assets/font/aeoniktrial-bold.otf") format("opentype");
}

@font-face {
  font-family: Aeonik Trial light;
  src: url("assets/font/aeoniktrial-light.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
body {

  font-family: "Aeonik Trial";
  text-transform: uppercase;
  background: black;
  color: white;
}

.word{
  position: absolute;
  bottom: 0;
}

.word svg{
  cursor:pointer;
  transition: transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1); 
  transform-origin: bottom;
  font-size: 30vw;
  display: inline-block;
}